<div>
    <div class="row list-heading">
        <div class="two columns">Student</div>
        <div class="one column">HW 0</div>
        <div class="one column">HW 1</div>
        <div class="one column">HW 2</div>
        <div class="one column">HW 3</div>
        <div class="one column">HW 4</div>
        <div class="one column">HW 5</div>
        <div class="one column">HW 6</div>
        <div class="one column">HW 7</div>
        <div class="one column">HW 8</div>
        <div class="one column">HW 9</div>
    </div>
    <div class="list-body"></div>
</div>